*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #dcffca ;
}

footer{
    background-color: #dcffca;
    padding: 10px;
}

.logo{
    width: 300px;
    height: 200px;
}
.titulo{
    text-align: start;
}

.preencher{
    font-weight: bold;
    text-align: start;
    display: inline-block;
}

.informacao{
    display: inline-block;
}



/*Conteúdo de Detalhes.html*/

.img-conteudo{
    width: 2131px;
    height: 3196px;
}

.titulo-2{
    color:#256e00;
}

.layout{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.texto-layout{
    font-size: 20px;
}

.conteudo-card{
    display: flex;
    justify-content: space-between;
}

.texto-card{
    display: inline;
    font-size:20px;
    font-style: italic;
}

.titulo-card{
    display: inline;
}

.ingredientes{
    font-size: 20px;
}

